<div class="cover">
  <div class="cover-image" style="background-image : url('assets/flower.gif')"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <h1 class="text-inverse text-left">freego magnet</h1>
        <p class="text-inverse text-left">magneticamente nerd</p>
        <a href="#mailing" class="btn btn-danger btn-lg">li voglio &lt;3</a>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">I freego sono un set di magneti per creare costruzioni bidimensionali
          che sembrano 3D</h1>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="container"></div>
        <img src="assets/triangle.jpg" class="img-responsive">
      </div>
      <div class="col-xs-12 col-md-4">
        <h3 style="margin-top: 100px">fuori dagli schemi</h3>
        <h4>i mattoncini sono magnetici, possono essere sovrapposti per costruire
          forme ‘impossibili’ che sfidano la gravità sul tuo frigorifero</h4>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-1">
        <div class="container"></div>
        <h3 style="margin-top: 100px" class="text-right">effetto nostalgico assicurato</h3>
        <h4 class="text-right">possono essere utilizzati anche come puzzle, se metti insieme i pezzi
          contenuti in una confezione puoi creare un cubo</h4>
      </div>
      <div class="col-xs-12 col-md-offset-1 col-md-6">
        <img src="assets/cube.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
  </div>
</div>
<div id="mailing" class="section section-secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-10">
            boh
      </div>
    </div>
  </div>
</div>