<footer class="section section-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-6"></div>
      <div class="col-sm-6">
        <p class="text-right">seguici su</p>
        <div class="row">
          <div class="col-md-12 text-right">
            <a href="https://twitter.com/freegomagnet"><i class="fa fa-2x fa-fw fa-twitter text-muted"></i></a>
            <a href="https://www.facebook.com/freegomagnet"><i class="fa fa-2x fa-facebook fa-fw text-muted"></i></a>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12 text-right">
            <div class="fb-like"
                 data-href="http://freegomag.net"
                 data-layout="button"
                 data-action="like"
                 data-show-faces="false"
                 data-colorscheme="light"
                 data-share="true">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
